<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="stdoutStandard" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d [%t] [%-5p] (%F:%L) - %m%n}{FATAL=red blink, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue}" disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.fontbox.ttf" level="WARN" additivity="false">
            <AppenderRef ref="stdoutStandard"/>
        </Logger>
        <Logger name="org.apache.commons.beanutils.converters" level="WARN" additivity="false">
            <AppenderRef ref="stdoutStandard"/>
        </Logger>
        <Logger name="org.apache.pdfbox.pdmodel.font" level="WARN" additivity="false">
            <AppenderRef ref="stdoutStandard"/>
        </Logger>
        <Logger name="org.apache.fontbox.util.autodetect" level="WARN" additivity="false">
            <AppenderRef ref="stdoutStandard"/>
        </Logger>
        <Logger name="org.apache.pdfbox.io" level="WARN" additivity="false">
            <AppenderRef ref="stdoutStandard"/>
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="stdoutStandard"/>
        </Root>
    </Loggers>

</Configuration>
