<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="stdoutStandard" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] [%-5p] (%F:%L) - %m%n" />
		</layout>
	</appender>

	<logger name="org.apache.fontbox.ttf" additivity="false">
		<level value="WARN" />
		<appender-ref ref="stdoutStandard" />
	</logger>
	<logger name="org.apache.commons.beanutils.converters" additivity="false">
		<level value="WARN" />
		<appender-ref ref="stdoutStandard" />
	</logger>
	<logger name="org.apache.pdfbox.pdmodel.font" additivity="false">
		<level value="WARN" />
		<appender-ref ref="stdoutStandard" />
	</logger>
	<logger name="org.apache.fontbox.util.autodetect" additivity="false">
		<level value="WARN" />
		<appender-ref ref="stdoutStandard" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="stdoutStandard" />
	</root>

</log4j:configuration>